<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 ">

      <h3 style="text-align: center;">
        「<%= @tag.name %>」のタグが付いている漫画一覧(<%= @tag.comic_tags.count %>)
      </h3>

      <table class="table">
        <tbody>
          <% @comic.each do |comic| %>
            <tr>
              <td><%= link_to comic.title, comic_path(comic) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>