<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 ">

      <h3>「<%= @tag.name %>」のタグが付いている漫画一覧</h3>

      <table class="table">
        <tbody>
          <% @comics.each do |comic| %>
            <tr>
              <td><%= link_to comic.title, comic_path(comic) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>