<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>タグを作成する</h1>

      <%= form_with(model: @tag, local: true) do |form| %>
        <% if @tag.errors.any? %>
          <p>タグ名が空白か、既に存在します。</p>
        <% end %>
      
        <div class="field">
          <%= form.label :name, 'タグ名' %>
          <%= form.text_field :name %>
        </div>
      
        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>

    </div>
  </div>
</div>