// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.active-status {
  color: #32cd32;
}

.table_show {
  border-collapse: collapse;
  width: 100%;
}

.table_show th, .table_show td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}