<div class="container">
  <div class="row">

    <div class="col-8">
      <h5><span style="background-color: #dcdcdc;">漫画一覧</span></h5>
    </div>

    <div class="col-4" style="text-align: right;">
      <%= link_to new_comic_path, class: "btn btn-outline-dark btn-circle text-dark" do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>

    <div class="col-12">
      <table class = "table table-striped">

        <thead>
          <tr>
            <th>タイトル</th>
            <th>著者</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @comics_all.each do |comics| %>
            <tr>
              <td><%= link_to comics.title, comics_path(@comics) %></td>
              <td><%= comics.author %></td>
            </tr>
          <% end %>
        </tbody>

      </table>
    </div>
  </div>
  <!-- %= paginate @comics % -->
</div>

<%= render 'layouts/footer' %>