<div class="container">
  <h5><span style="background-color: #dcdcdc;">漫画詳細</span></h5>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">タイトル</div>
        <div class="col-md-8"><%= @comic.title %></div>
      </div>
      <div class="row">
        <div class="col-md-4">著者</div>
        <div class="col-md-8"><%= @comic.author %></div>
      </div>

    </div>
  </div>
</div>

<%= render 'layouts/footer' %>