<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">

      <b><span style="color:red; font-size: 2rem;">本当に退会しますか？</span></b>

      <p>
        退会すると、マイページの本棚やブックマーク、</br>
        タグ、会員情報などすべての登録情報が削除され、</br>
        閲覧することができなくなります。</br>
        退会する場合は、「退会する」をクリックしてください。
      </p>

      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-6 text-right">
      <%= link_to "退会しない", infomation_path , class: "btn btn-primary" %>
    </div>
    <div class="col-md-6 text-left">
      <%= form_with(model: @user, url: withdrawal_user_path(@user), method: :patch, id: 'withdrawal-form', data: { confirm: "本当に退会しますか？" }) do |f| %>
        <%= f.submit "退会する", class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>