 <div class="row">
    <div class="col-md-6">
      <table class="table">
        <% if @user.present? %>
          <tr>
            <th>ニックネーム</th>
            <td><%= @user.nickname %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>