<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">

    <h1>
      <span class="about">
        About
      </span>
    </h1>
    
    <p>自分の所持している漫画の把握するためのサイトです。
    </br>本棚に漫画を追加することができ、漫画の編集・削除などご自由にカスタムして</p>
    
    
    
    <h3>
      <span class="about">
        <i class="fa fa-book-open-reader"></i>マイページでできること
      </span>
    </h3>
    <p><i class="fa fa-paperclip"></i>　自分の名前の部分を押すと会員登録情報が表示されます。このページから登録情報の編集、会員退会ができます。
    </br><i class="fa fa-paperclip"></i>　右上のプラスボタンから漫画を追加することができます。
    </br><i class="fa fa-paperclip"></i>　検索ボタンでタイトル、著者、出版社、タグのいずれかで検索をすることができます。
    </br><i class="fa fa-paperclip"></i>　タイトル、著者、出版社のいずれかで並び替えができます。
    </br><i class="fa fa-paperclip"></i>　漫画のタイトルをクリックすると漫画の詳細が確認できます。</p>
    
    
    <h3>
      <span class="about">
        <i class="fa fa-tag"></i>tagページでできること
      </span>
    </h3>
    <p><i class="fa fa-paperclip"></i>　漫画に着けるタグの追加・削除ができます。
    </br><i class="fa fa-paperclip"></i>　漫画の編集ページで追加したタグもこちらの一覧ページに表示されます。</p>


    </div>
  </div>
</div>

<%= render 'layouts/footer' %>