// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.heading {
  font-weight: bold;
  font-size: 40px;
  padding: 0;
}

.title {
  border-bottom: double 5px #98d98e;
  color: #98d98e;
  font-size: 40px;
}

.title a {
  color: #98d98e;
}

.explanation {
  margin: 25px 0;
}

.row {
  justify-content: center;
  margin-bottom: 5px;
}

p {
  font-size: 20px;
}



@media screen and (max-width:425px) {

  .explanation {
    margin-bottom: 15px;
  }

  .title {
    font-size: 20px;
  }

  .about {
    font-size: 16px;
  }

  p {
    font-size: 8px;
  }
}