// Place all the styles related to the user/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.example1 li{
  display:block;
}

/* 各列の幅を指定 */
.col1 { width: 6%; }
.col2 { width: 30%; }
.col3 { width: 18%; }
.col4 { width: 10; }
.col5 { width: 10%; }
.col6 { width: 18%; }
.col7 { width: 5%; }
.col8 { width: 3%; }

table {
  border-collapse: collapse; /* テーブルセルの境界線を重ねる */
  width: 100%;
}

th, td {
  border-bottom: 1px solid black; /* 横線のみ表示 */
}

th {
  border-bottom: 2px solid black; /* ヘッダーの横線を少し太くする */
}

tr:last-child td {
  border-bottom: none; /* 最後の行のセルの下側の横線を削除 */
}