<!-- エラーチェック -->
<% if comic.errors.any? %>
  <%= comic.errors.count %>エラーがあったので漫画が保存できませんでした:
  <ul>
    <% comic.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>