<!-- エラーチェック -->
<% if comics.errors.any? %>
  <%= comics.errors.count %> errors prohibited this item from being saved:
  <ul>
    <% comics.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>