<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <footer>
        <p class="text-center">©2023.11.06- my comics</p>
      </footer>
     </div>
  </div>
</div>